<body>
<h1 class = 'text_fade '>-ayarlar  
  -radyodine
  
 -prefix  </h1>
 <h3 class = 'text_fade '>
   <a href='https://discord.gg/ruGacbR'>LoyaMusic♪♪
</a>
 </h3>
<div></div>
<div></div>
<div></div>
</body>



