<%- include('ek/header', {bot, user, path}) %>
<script type="text/javascript">
var title = "Discord Bot - Bot Ekle";
document.title = title;
document.getElementById("botekle").classList.add('active');
</script>
<div class="container is-fullhd">
 <form method="post">
				
   <div class="jumbotron">

     
     <h2 style="color: #fff;text-align:center;">Bot Ekleme</h2>
     <br>
		<label><i aria-hidden="true"></i>Client ID <a style="color:red">*</a></label>
      <input type="text" name="botid" id="botid" placeholder="Örneğin; <%=bot.user.id%>" required="required">
   <br>
    <label><i aria-hidden="true"></i>Bot Sahibi ID <a style="color:red">*</a></label>
     <input type="text" name="sahip" id="sahip"value="<%=user.id%>" disabled>
     
		<label><i aria-hidden="true"></i>Bot Prefix <a style="color:red">*</a></label>
      <input type="text" name="botprefix" id="botprefix"placeholder="!" required="required">
     
     <label><i aria-hidden="true"></i>Kütüphane <a style="color:red">*</a></label>
     <select id="kutuphane" name="kutuphane" required="required">
       <option disabled selected>Lütfen bir kütüphane seçiniz.</option>
       <option value="discordcr" >discordcr</option>
        
          <option value="Nyxx" >Nyxx</option>
        
          <option value="Discord.Net" >Discord.Net</option>
        
          <option value="DSharpPlus" >DSharpPlus</option>
        
          <option value="Nostrum" >Nostrum</option>
        
          <option value="coxir" >coxir</option>
        
          <option value="DiscordGo" >DiscordGo</option>
        
          <option value="Discord4J" >Discord4J</option>
        
          <option value="Javacord" >Javacord</option>
        
          <option value="JDA" >JDA</option>
        
          <option value="discord.js" >discord.js</option>
        
          <option value="Eris" >Eris</option>
        
          <option value="Discordia" >Discordia</option>
        
          <option value="RestCord" >RestCord</option>
        
          <option value="Yasmin" >Yasmin</option>
        
          <option value="disco" >disco</option>
        
          <option value="discord.py" >discord.py</option>
        
          <option value="discordrb" >discordrb</option>
        
          <option value="serenity" >serenity</option>
        
          <option value="SwiftDiscord" >SwiftDiscord</option>
        
          <option value="Sword" >Sword</option>
        
        <option value="Other" >Diğer</option>
     </select>
           
     <label><i aria-hidden="true"></i>Kısa Açıklama <a style="color:red">*</a></label>
      <input type="text" name="kisa-aciklama" id="kisa-aciklama" placeholder="Botunuzun kısa açıklamasını yazınız." maxlength="50" required="required">
     <br>
     <label><i aria-hidden="true"></i>Uzun Açıklama <a style="color:red">*</a></label>
     <p>(HTML desteklemekte)</p>
           <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
     <script>
var simplemde = new SimpleMDE({ element: document.getElementById("uzun-aciklama") }); 
     </script>
     <textarea name="uzun-aciklama" id="uzun-aciklama"placeholder="Uzun Açıklama (HTML Desteklemekte)" minlength="250" required="required"></textarea>
     <br>
     <label><i aria-hidden="true"></i>Etiketler <a style="color:red">*</a></label>
      <select multiple id="etikett" name="etikett">
        <option value="Moderasyon">Moderasyon</option>
        <option value="Müzik">Müzik</option>
        <option value="Ayarlar">Ayarlar</option>
        <option value="Eğlence">Eğlence</option>
        <option value="Web Panel">Web Panel</option>
       </select>
       <p>
         <a style="color:red">Not: </a><a style="color:#fff">birden çok etiket seçilebilir. Bilgisayarda iseniz <i>ctrl</i> tuşuna basılı tutarak seçiniz etiketleri.</a>
       </p>
     <br>
     <label><i aria-hidden="true"></i>Web Site URL'si</label>
      <input type="url" name="botsite" id="botsite" placeholder="Var ise web site url yazınız.">
     <br>
     <label><i aria-hidden="true"></i>Github URL'si</label>
      <input type="url" name="github" id="github" placeholder="Var ise github url yazınız.">
     <br>
     <label><i aria-hidden="true"></i>Destek Sunucusu URL'si</label>
      <input type="url" name="botdestek" id="botdestek" placeholder="Botunuzun var ise Discord destek sunucusunun URL'sini yazınız.">
	
   
   <h6 style="color:red">
     Yanında * olanlar zorunlu, olmayanlar ise isteğe bağlıdır.
   </h6>

				<div style="width: 100%; text-align: center; margin-top: 20px;">
					<button type="submit" class="butonss"><i class="fa fa-save fa-fw"></i> Başvuruyu Gönder<i aria-hidden='true'></i></button>
				</div>
   </div>
			</form>
		</div>
	</div>
</div>
</div>

<% include ./ek/footer %>

<!DOCTYPE html>
<html>
<head>

<style>
body {
	background-image: url("https://images4.alphacoders.com/909/thumb-1920-909912.png");
} 

</style>

</head>

<body>

</body>
</html>


    </noscript>
    <style>
      * {
        box-sizing: border-box;
      }

      body {
        background-color: white;
        font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
      }

      main {
        padding: 1rem;
      }

      p {
        max-width: 500px
      }

      .note{
        font-size: small;
        color: #9B9B9B;
      }

      .content{
        margin: 50px;
        position: fixed;
      }

      #loader:after {
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
        animation: ellipsis steps(4,end) 1000ms infinite;
        content: "\2026";
        width: 0px;
      }

      @keyframes ellipsis {
        to {
          width: 1.25em
        }
      }

      canvas#background {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
      }
    </style>
  </head>

  <body>
    <main>
      <div class="content">
        <p class="status">
          <span id="message"></span>
          <span id="loader" ></span>
        </p>
        <p class="note">
        </p>
      </div>
    </main>
    <canvas id="background"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bowser/1.9.4/bowser.min.js"></script>

<script>
// drawing

var canvas, context, canvasImage;

var cursorPosition = {
  x: undefined,
  y: undefined,
};
var color = '#e5e5e5';
var size = 5;

function randomColor() {
  var colors = [
    '#fcd1c4',
    '#abfcec',
    '#a3d9e1',
    '#fbbfff',
    '#a9ef8f',
    '#fff0b2',
    '#fff0b2',
  ];
  color = colors[Math.floor(Math.random() * colors.length)];
}

function throttle(ms, fn) {
  var lastCallTime;
  return function () {
    var now = Date.now();
    if (!lastCallTime || now - lastCallTime > ms) {
      lastCallTime = now;
      fn.apply(this, arguments);
    }
  }
}

function drawCircle(event) {
  context.beginPath();
  context.arc(cursorPosition.x, cursorPosition.y, size, 0, 2 * Math.PI);
  context.closePath();
  context.fillStyle = color;
  context.fill();
  canvasImage = context.getImageData(0, 0, window.innerWidth, window.innerHeight);
}

window.onload = function () {
  randomColor();
  canvas = document.getElementById('background');
  canvas.width = window.innerWidth;
  canvas.height = window.innerHeight;
  context = canvas.getContext('2d');

  window.onresize = throttle(100, function () {
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;
    context.clearRect(0,0, window.innerWidth, window.innerHeight);
    canvasImage && context.putImageData(canvasImage, 0, 0);
  });

  window.onmousemove = throttle(10, function (event) {
    cursorPosition = {
      x: event.clientX,
      y: event.clientY,
    };
    drawCircle(event);
  });

  window.ontouchmove = throttle(10, function (event) {
    cursorPosition = {
      x: event.touches[0].clientX,
      y: event.touches[0].clientY,
    };
    drawCircle(event);
  });
}
</script>
