<%- include('ek/header', {bot, user, path}) %>
<div class="info">
    <div class="nblana" align="left">
      <div class="nblin">
          	 <div class="jumbotron">
		<div align="center">
      <h3 style="color:		#f22933;"><b>Discord sunucumuz</b></h3>
      <br>━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
    </div>
    <br>    
    </div>
        <p align="center" style="margin-top:-100px;">
         <font color="		#f22933" size="3px">Merhaba Discord sunucumuza gelerek bize destek çıkabilir,<br>Botunuzu test edebilirsiniz.<br>Gelmek için tıkla:  <br/>
          <a href="https://discord.gg/VtR2NmN" class="btn btn-primary btn-round ">Discord sunucumuz!</a>
  
          <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/buton.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script><br>━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━</font>
        <p>
      </div>
  </body>
      <style>
          .info{
  margin: 50px;
  color: Black;
  line-height: 35px;
  margin-left: 20%;
  margin-top: -2%;
  }
        .jumbotron {
          background: transparent;
        }
        </style>
  
<!DOCTYPE html>
<html>
<head>

<style>
body {
	background-image: url("https://images4.alphacoders.com/909/thumb-1920-909912.png");
} 

</style>

</head>

<body>

</body>
</html>




